{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <h1>{% trans "Seating plan settings" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "Seating plan selection" %}</legend>
            {% bootstrap_field form.seating_plan layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Seating categories" %}</legend>
            <p>
                {% trans "Please map every category in your seating plan to one product in pretix that defines the prices and availabilities of these seats. If you map a category to a product with variations, the user may choose between those variations for this seat." %}
            </p>
            {% for f in form %}
                {% if "cat_" in f.name %}
                    {% bootstrap_field f layout="control" %}
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
